.arrival__title{
   margin-top: 120px;
}
.arrival__background{
   background-color: #19181C;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 55px 22px;
   margin-bottom: 25px;
   margin-top: 81px;
}
.arrival__item{
   margin: 10px 12px;
}
.arrival__name{
   font-family: "Playfair Display", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   color: #FFFFFF;
   display: block;
}
.arrival__price{
   font-family: "Playfair Display", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   color: #FFFFFF;
   margin-top: 10px;
}
.arrival{
   padding-bottom: 120px;
}
