.footer{
  background-image: url(/images/png/footerbackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 100px;
}
.footer__title{
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.footer__text{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  max-width: 350px;
}
.footer__links{
  display: flex;
  flex-wrap: wrap;
}
.footer__link{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  display: block;
  padding: 10px 20px;
  background-color: black;
  margin: 0 20px 20px 0;
  transition: 0.3s;
}
.footer__link:hover{
  background-color: rgba(0, 0, 0, .4);
}
.footer__form{
  margin-top: 38px;
  position: relative;
}
.footer__input{
  padding: 10px;
  background-color: rgba(255, 255, 255, .4);
  outline: none;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
}
.footer__input::placeholder{
  color: white;
  font-size: 12px
}
.footer__button{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: black;
  outline: none;
  border: none;
  position: absolute;
}