.header__top {
  background-color: #000;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #969696;
  padding: 14px 0;
}
.header__row {
  justify-content: space-between;
}
.header__info,
.header__login {
  display: flex;
  align-items: center;
}
.header__info svg,
.header__info p {
  margin-right: 15px;
  cursor: pointer;
}
.header__login svg {
  margin-right: 10px;
}
.header__login p {
  margin-left: 5px;
  cursor: pointer;
}
.header__bottom{
  background-color: #000;
}
.header__logo{
  fill: white;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  margin: 15px 0;
}
.logo:hover{
  opacity: 0.7;
}
.header__nav, .nav__menu{
  display: flex;
}
.header__nav{
  align-items: center;
}
.nav__link{
  font-family: "PT Sans", sans-serif;
  color: #969696;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 30px 20px;
  text-transform: uppercase;
  display: inline-block;
}
.nav__link:hover{
  color: white;
  background-color: #1f1f1f;
  transition: 0.2s;
  cursor: pointer;
}
.header__icons svg{
  margin-left: 40px;
}

