.hero{
    background-image: url(/images/png/Rectangle\ 3.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   
.hero__title{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding-top: 7px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 2px solid white;
    display: block;
}
.hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}
.hero__text{
    font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
text-align: center;
text-transform: uppercase;
color: white;
width: 730px;
}
.hero__rectangle{
    border: 4px solid white;
    padding: 94px 68px;
    margin-bottom: 80px;
}
.hero__rectangle svg{
    margin-bottom: 10px;
}



