.season {
  padding: 93px 0;
}
.season__name,
.season__price {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  padding-top: 20px;
}
.season__name {
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
.season__price {
  font-weight: bold;
  font-size: 16px;
  color: #d0d0d0;
}
.season__item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 25px;
}
.season__watch {
  background: #191b1c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 10px;
}
.season__row {
  margin: 0 55px;
}
.season__img {
  width: 100%;
}

.season__right {
  background-image: url(/images/png/Rectangle\ 8.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
.season__right--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.season .swiper-container{
  min-height: 490px;
}
.season .swiper-pagination-bullets{
  bottom: -10px;
}
.season .swiper-pagination-bullet{
  background-color: rgba(255, 255, 255, .7);
  width: 15px;
  height: 15px;
}
.season .swiper-pagination-bullet-active{
  background-color: rgb(255, 255, 255);
}


